<% layout('layouts/boilerplate') -%>
    <h2>Add More Images to <b>
            <%= campground.title %>
        </b></h2>
    <div class="mb-3">
        <form action="/campgrounds/<%=campground._id %>/images" method="post" class="validate-form" novalidate
            enctype="multipart/form-data">
            <label for="formFileMultiple" class="form-label">Choose Images(s)</label>
            <input class="form-control" type="file" name="image" id="formFileMultiple" multiple required>
            <br>
            <button class="btn btn-success">Add</button>
        </form>
    </div>
    <h2>Want to delete Images in <b>
            <%= campground.title %>?
        </b></h2>

    <form action="/campgrounds/<%= campground._id%>/images?_method=delete" method="post">
        <% campground.images.forEach(function(img,i){ %>
            <img src="<%= img.url %>" alt="" width="300" height="300" class="mt-5">
            <div class="form-check">
                <input type="checkbox" name="deleteImages[]" id="image-<%=i%>" value="<%=img.filename%>">
                <label for="image-<%=i%>">Delete?</label>
            </div>
            <%}) %>
                <div class="mb-3">
                    <button class="btn btn-danger">Delete</button>
                </div>
    </form>