<% layout('layouts/boilerplate') -%>
    <div id="cluster-map">
    </div>
    <h1>All Campgrounds!</h1>
    <div class="mb-3 my-3">
        <a href="/" class="btn btn-info ">Home</a>
        <a href="/campgrounds/new" class="btn btn-warning mx-2">New Campground</a>

    </div>
    <!-- for every campground styling it in a card with 2 columns 1-> image 2-> description -->
    <% for(let campground of campgrounds){ %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.images.length){ %>
                        <img src="<%= campground.images[0].url %> " alt="" class="img-fluid">
                        <% }else{ %>
                            <img src="https://res.cloudinary.com/dbmrc41ir/image/upload/v1676009518/YelpCamp/stkqmdvthm1btrlxggm6.jpg"
                                alt="" class="img-fluid">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%=campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location %>
                            </small>
                        </p>
                        <a href="/campgrounds/<%= campground._id %> " class="btn btn-success btn-lg text-white">View</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
            <script>
                let mapboxToken = `<%-process.env.MAPBOX_TOKEN%>`;
                let campgrounds = `<%-JSON.stringify(campgrounds)%>`
            </script>
            <script src="/javascripts/clusterMap.js"></script>