<!-- Adding the layout -->
<% layout('layouts/boilerplate') -%>

    <!-- Displaying the campground using a card -->
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">

                <!--Campground Image  -->
                <img class="card-img-top" src="<%= campground.image %> " alt="Card image cap">

                <!-- Campground Title and Description-->
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                </div>

                <!-- Campground Location and price in a slight muted format -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= campground.location %>
                    </li>
                    <li class="list-group-item">$<%= campground.price %>/night</li>
                </ul>

                <!-- Campground Edit and Delete buttons -->
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/campgrounds/<%= campground._id %>/edit ">Edit</a>
                    <form class="d-inline" action="/campgrounds/<%= campground._id%>?_method=DELETE " method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>

                <!-- Campground Date -->
                <div class="card-footer">
                    2 days ago
                </div>
            </div>

            <!-------Review for a Campground ------->
            <h2>Leave a Review</h2>
            <form action="" class="mb-3">
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" class="form-range" name="review[rating]" id="rating" min="1" max="5">
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label">Review</label>
                    <textarea name="review[body]" class="form-control" id="body" cols="30" rows="3"></textarea>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>

    </div>