<!-- Adding the layout -->
<% layout('layouts/boilerplate') -%>

    <!-- Displaying the campground using a card -->
    <div class="card mb-3">

        <!--Campground Image  -->
        <img class="card-img-top" src="<%= campground.image %> " alt="Card image cap">

        <!-- Campground Title and Description-->
        <div class="card-body">
            <h5 class="card-title">
                <%= campground.title %>
            </h5>
            <p class="card-text">
                <%= campground.description %>
            </p>
        </div>

        <!-- Campground Location and price in a slight muted format -->
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted">
                <%= campground.location %>
            </li>
            <li class="list-group-item">$<%= campground.price %>/night</li>
        </ul>

        <!-- Campground Edit and Delete buttons -->
        <div class="card-body">
            <a class="card-link btn btn-info" href="/campgrounds/<%= campground._id %>/edit ">Edit</a>
            <form class="d-inline" action="/campgrounds/<%= campground._id%>?_method=DELETE " method="post">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>

        <!-- Campground Date -->
        <div class="card-footer">
            2 days ago
        </div>
    </div>