<% layout('layouts/boilerplate') -%>
  <h2>Add More Images to <b>
      <%= campground.title %>
    </b></h2>
  <div class="mb-3">
    <form action="/campgrounds/<%=campground._id %>/images" method="post" class="validate-form" novalidate
      enctype="multipart/form-data">
      <label for="formFileMultiple" class="form-label">Choose Images(s)</label>
      <input class="form-control" type="file" name="image" id="formFileMultiple" multiple required>
      <br>
      <button class="btn btn-success">Add</button>
    </form>
  </div>
  <h2>Want to delete Images in <b>
      <%= campground.title %>?
    </b></h2>

  <form action="/campgrounds/<%= campground._id%>/images?_method=delete" method="post">
    <% if(campground.images.length>0) { %>
      <div class="card p-1">
        <% campground.images.forEach(function(image,index){ %>
          <% if(index % 3===0){ %>
            <div class="d-flex flex-row justify-content-center">
              <% if(campground.images[index]){ %>
                <div class="card-header bg-light border rounded " style="margin:5px; cursor:pointer;">
                  <input type="checkbox" name="deleteImages[]" class="form-check-input"
                    value="<%=campground.images[index].filename%>">
                  <a href="<%=campground.images[index].url%>" title="click to view image">
                    <img src="<%=campground.images[index].url%>" alt="" width="300" height="300">
                  </a>
                </div>
                <% } %>
                  <% if(campground.images[index+1]){ %>
                    <div class="card-header bg-light border rounded " style="margin:5px; cursor:pointer;">
                      <input type="checkbox" name="deleteImages[]" class="form-check-input"
                        value="<%=campground.images[index+1].filename%>">
                      <a href="<%=campground.images[index+1].url%>" title="click to view image">
                        <img src="<%=campground.images[index+1].url%>" alt="" width="300" height="300"">
                    </a>
                  </div>
                  <% } %>
                    <% if(campground.images[index+2]){ %>
                      <div class=" card-header bg-light border rounded" style="margin:5px; cursor:pointer;">
                        <input type="checkbox" name="deleteImages[]" class="form-check-input"
                          value="<%=campground.images[index+2].filename%>">
                        <a href="<%=campground.images[index+2].url%>" title="click to view image">
                          <img src="<%=campground.images[index+2].url%>" alt="" width="300" height="300">
                        </a>
                    </div>
                    <% } %>
            </div>
            <% } %>
              <% }) %>
      </div>
      <% } else { %>
        <input type="text" class="form-control" name="" id="" value="This campground has no images." readonly>
        <% } %>
          <div class="mt-3">
            <button class="btn btn-danger">Delete</button>
          </div>
  </form>